@import url("./spinner-loading.css");

@import url("./spinner-loading-bg.css");

@import url("./spinner-loading-tail-bg.css");

@import url("./spinner-flash-bubble.css");

@import url("./spinner-stone-pond.css");

@import url("./spinner-flash-circles.css");

@import url("./spinner-pulsate-circles.css");

@import url("./spinner-swing-flash-circles.css");

@import url("./spinner-flip-box.css");

@import url("./spinner-wav-lines.css");

@import url("./spinner-audio-waves.css");

/* Spinner global styles */
/* You can override them in your own styles */
.spinner {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}