.spinner {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-08 {
  background-color: var(--light-color);
  justify-content: unset;
  align-items: unset;
}
.spinner-08::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: var(--primary-color);
  animation: spinner-08 1s infinite;
  -webkit-animation: spinner-08 1s infinite;
}

@keyframes spinner-08 {
  25% {
    transform-origin: right center;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  50% {
    transform-origin: right bottom;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  75% {
    transform-origin: center bottom;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
  }
}
